name: Build
run-name: ${{ github.ref }} triggered build for repo.
on: [push, workflow_call, workflow_dispatch]
jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: "windows-latest"
            suffix: "windows"
            arch: "x64"
          - runner: "macos-15-intel"
            suffix: "macos-x64"
            arch: "x64"
          - runner: "macos-latest"
            suffix: "macos-arm64"
            arch: "arm64"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry
      - name: Setup Python
        uses: actions/setup-python@v5.4.0
        with:
          # Version range or exact version of Python or PyPy to use, using SemVer's version range syntax. Reads from .python-version if unset.
          python-version: '3.11'
          # The target architecture (x86, x64, arm64) of the Python or PyPy interpreter.
          architecture: ${{ matrix.arch }}
          # Caching
          cache: 'poetry'
      - name: Install project and dependencies
        run: poetry install
      - name: Run pyinstaller
        working-directory: ${{ github.workspace }}
        run: poetry run pyinstaller -F -n "auto-mathletics-${{ matrix.suffix }}" "${{ github.workspace }}/src/math_automation/mathletics_entrypoint.py"
      - name: Upload artifact to GitHub actions
        uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name: auto-mathletics-${{ matrix.suffix }}

          # A file, directory or wildcard pattern that describes what to upload
          # Required.
          path: ${{ github.workspace }}/dist/*
